.wrapper {
  margin: 20px auto;
  max-width: 700px;
  display: grid;
  justify-content: center;
}

#title {
  margin-bottom: 30px;
}

#calendar {
  position: relative;
}
.calendar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.744);
  z-index: 1;
  display: grid;
  place-items: center;
  color: white;
  font-size: 20px;
  border-radius: 6px;
}

.calender-head {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
.table-calendar {
  min-height: 360px;
}

#calendar tr {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  
}

#calendar td,th {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  display: grid;
  place-items: center;
  height: 50px;
  width: 90px;
  user-select: none;
}

#calendar th {
  background-color: rgb(44, 44, 47);
  color: white;
}

#calendar td {
  cursor: pointer;
  transition: 90ms;
}
@media (hover) {
  #calendar td:hover {
    filter: brightness(0.9);
    transform: scale(1.02);
    font-size: 1.4rem;
  }
}


.thisMonth {
  background-color: rgb(55, 128, 151);
  color: white;
}

.notThisMonth {
  background-color: rgba(171, 171, 171, 0.24);
  color: grey
}

.selected {
  background-color: rgb(60, 153, 97);
  color: white;
  font-size: 1.5rem;
}

.unSelectable {
  user-select: none;
  pointer-events: none;
  filter:grayscale(100%) opacity(0.5);
}
.reserved {
  user-select: none;
  pointer-events: none;
  background-color: rgb(141, 59, 59);
}

.table-buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.table-buttons div {
  display: grid;
  grid-auto-flow: column;
  gap:2px,
}

.table-buttons button {
  border: none;
  color:white;
  background-color: rgb(44, 44, 47);
  width: 90px;
  height: 30px;
  border-radius: 8px;
  cursor:pointer;
  transition: 80ms;
}
@media (hover) {
  .table-buttons button:hover {
    filter: brightness(1.5);
    transform: scale(1.05);
  }
}

#please-select {
  height: 30px;
}

.options-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  border: 1px solid rgb(44, 44, 47);
  border-radius: 8px;
}

.options {
  display: grid;
  padding: 10px;
}

.options4, .options2 {
  justify-content: end;
}

.options2 {
  align-self: center;
}

.options2 table{
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

.options2 td {
  padding: 4px;

}

.options2 tr:nth-child(2n+1) {
  color: white;
  background-color: rgb(44, 44, 47);
}

.legend {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 80%;
}

.legend .colorBox {
  width: 20px;
  height: 15px;
  border-radius: 5px;

}
.colorBoxReserved {
  background-color: rgb(141, 59, 59);
}
.colorBoxSelected {
  background-color: rgb(60, 153, 97);
}

.legend .legend-item {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  margin-bottom: 5px;
}




.selector {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.options select, .options button {
  border: none;
  color: rgb(55, 128, 151);
  border: 2px solid rgb(55, 128, 151);
  border-radius: 20px;
  padding: 5px;
  background: none;
  width: 100%;
  transition: 80ms;
  cursor: pointer;
}
@media (hover) {
  .options select:hover, .options button:hover {
    filter: brightness(1.5);
    transform: scale(1.05);
  }
}

.checkIns {
  color: rgb(55, 128, 151);
}

.client-info {
  display: grid;
}

.client-info input {
  border: 2px solid rgb(55, 128, 151);
  padding: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.invalidInput {
  background-color: rgb(254, 134, 134);
}

.invalidMessage {
  color: red;
}

.message-window-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.596);
  display: grid;
  place-items: center;
  z-index: 100;
}
.message-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 1px black;
  border-radius: 6px;

  width: 500px;
  height: 200px;

  display: grid;
  
}
#messageWindowText {
  justify-self: center;
  margin-bottom: 35px;
}
#closeMessageWindow {
  justify-self: end;
  padding: 5px 15px;
  cursor: pointer;
  &:hover {
    color: rgb(55, 128, 151);
  }
}
.disabledCloseMessageWindow {
  color: rgb(199, 199, 199);
  user-select: none;
  pointer-events: none;
}


.hidden {
  display: none;
}

@media screen and (max-width: 640px) {
  .table-buttons button {
    font-size: 0.7rem;
    width: 70px;
  }
  .wrapper {
    margin: 20px 10px;
  }
  .table-calendar {
    min-height: 230px;
  }

  #calendar td, th {
    width: auto;
    height: 30px;
  }
  .options-box {
    font-size: 0.7rem;
  }
 
  .message-window {
    width: 90%;
    height: 150px;
    font-size: 0.8rem;
  }
}
  

