.wrapper {
  margin: 20px auto;
  width: 700px;
  display: grid;
  justify-content: center;
}

#title {
  margin-bottom: 30px;
}

.calender-head {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
.table-calendar {
  min-height: 360px;
}

tr {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  
}

td,th {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;
  display: grid;
  place-items: center;
  height: 50px;
  width: 90px;
  user-select: none;
}

th {
  background-color: rgb(44, 44, 47);
  color: white;
}

td {
  cursor: pointer;
  &:hover {
    filter: brightness(0.9);
  }
  transition: 90ms;
}



.thisMonth {
  background-color: rgb(55, 128, 151);
  color: white;
}

.notThisMonth {
  background-color: rgba(171, 171, 171, 0.24);
  color: grey
}

.selected {
  background-color: rgb(60, 153, 97);
  color: white;
  font-size: 1.5rem;
}

.table-buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.table-buttons div {
  display: grid;
  grid-auto-flow: column;
  gap:2px,
}

.table-buttons button {
  border: none;
  color:white;
  background-color: rgb(44, 44, 47);
  width: 90px;
  height: 30px;
  border-radius: 8px;
  cursor:pointer;
  &:hover {
    filter: brightness(1.5);
  }
}
