<div class="wrapper">

  <h1 id="title">Booking Calendar</h1>


  <div class="calender-head">
    <h2>{{ currentMonth.toLocaleString('en-GB',{month:"long"}) }}</h2>
    <h2>{{ currentMonth.getFullYear() }}</h2>
  </div>

  <table>

    <div class="table-calendar">
      <tr>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
      </tr>
  
      <tr>
        <td *ngFor="let day of daysInTheMonth"
        [ngClass]="{
          'thisMonth':currentMonth.getMonth() === day.getMonth(),
          'notThisMonth':currentMonth.getMonth() != day.getMonth(),
          'selected': isSelected(day),
          'unSelectable': isBeforeToday(day)
        }"
  
        (click)="selectDay(day)"
        >
          {{ day.toLocaleString('en-GB',{day:"numeric"}) }}
        </td>
      </tr>
    </div>

    <div class="table-buttons">
      <div>
        <button (click)="clearSelection()">clear</button>
        <button (click)="resetDate()">reset date</button>
      </div>
      <div>
        <button (click)="prevMonth()">prev month</button>
        <button (click)="nextMonth()">next month</button>
      </div>
    </div>
    
  </table>
  
  <div id='please-select'>
    <p *ngIf="selectedDays.length < 2"> please select at least two days</p>
  </div>
  
  <div class="options-box">
    <div class="options options1">
      <form class="CalendarForm" [formGroup]="calendarForm">

        <div class="selector">
          <label for="adults">Adults:</label>
          <select name="adults" id="adults" formControlName="adults">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>



          <label for="children">Children:</label>
          <select name="children" id="children" formControlName="children">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
      </form>

      <div *ngIf="selectedDays.length >= 2">
        <p>check in: {{ selectedDays[0].toLocaleString('en-GB',{weekday:"long",day:"numeric", month:"long"}) }}</p>
        <p>check out: {{ selectedDays[selectedDays.length-1].toLocaleString('en-GB',{weekday:"long",day:"numeric", month:"long"}) }}</p>
      </div>
      
      <div *ngIf="selectedDays.length < 2">
        <p>check in: </p>
        <p>check out: </p>
      </div>


    </div>

    <div class="options options2">
      <p>adults: {{calendarForm.value.adults}} x 50 = {{calendarForm.value.adults*50}}€</p>
      <p>children: {{calendarForm.value.children}} x 30 = {{calendarForm.value.children*30}}€</p>
      <p> number of nights: {{ getNumberOfNights() }}</p>

    </div>

    <div class="options options3">
      <button (click)="formButton()">submit</button>
    </div>

    <div class="options options4">
      <h2>Total: {{ totalPay.toFixed(2) }} €</h2>
    </div>
    
  

  </div>


</div>
